body{
	background-color: #eeeeee;
	font-family: "Times New Roman";
	text-align: center;
}
#header{
	font-size: 20px;
	font-family: "Times New Roman"
}
#send{
	
}
#viewEntries{
	
}
table{
	text-align: center;
}